<nav>

  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <h2>Hi.</h2> 
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>

  <div id="links">
    <p> <a href="about.html">About me</a> </p>
    <p> <a href="resume.html">Resume</a> </p>
  </div>

  <div id="contact info">
    <p> lillian.zhang.10@gmail.com </p>
    <p> (209) 676-1965 </p>
  </div>

</nav>
